<div class="row">
  <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
    <div class="card card-signup">
      <form class="form" name="loginForm" novalidate>
        <div class="header header-success text-center">
          <h4>Login</h4>
        </div>
        <div class="content">

          <div class="alert alert-danger" ng-show="invalidCredential">
            <div class="container-fluid">
            <div class="alert-icon">
              <i class="material-icons">error_outline</i>
            </div>
            </button>
              Login ou senha invalidos
            </div>
          </div>


          <div class="input-group">
            <span class="input-group-addon">
              <i class="material-icons">email</i>
            </span>
            <input type="text" class="form-control" placeholder="Email..."
              ng-model="username">
          </div>

          <div class="input-group">
            <span class="input-group-addon">
              <i class="material-icons">lock_outline</i>
            </span>
            <input type="password" placeholder="Senha..." class="form-control"
            ng-model="password" />
          </div>
        </div>
        <div class="footer text-center">
          <button class="btn btn-primary btn-wd btn-lg" ng-click="login()">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
