<div layout="column" ng-show="ctrl.state == 'Edit'">
    <form>
        <div layout="column">
            <md-input-container flex>
                <label>Titulo</label>
                <input ng-model="ctrl.selected.title">
            </md-input-container>
            <md-input-container>
                <label>Texto</label>
                <textarea ng-model="ctrl.selected.text" rows="10" md-select-on-focus></textarea>
            </md-input-container>
        </div>
        <div layout="row" layout-align="end end">
            <md-button class="md-raised" ng-click="ctrl.cancel()">Cancelar</md-button>
            <md-button class="md-raised md-primary" ng-click="ctrl.save()">Adicionar</md-button>
        </div>
    </form>
</div>
<div layout="column" ng-show="ctrl.state == 'List'">
    <md-list flex>
        <md-list-item class="md-3-line" ng-click="ctrl.edit(comment)" ng-repeat="comment in ctrl.comments">
            <div class="md-list-item-text">
                <h3>{{ comment.title }}</h3>
                <!--<h4>{{ responsible.age }} anos</h4>
                <p>{{ responsible.telephone }}</p>-->
            </div>
            <md-icon md-font-icon="Material Icons"
                ng-click="ctrl.remove(comment)"
                aria-label="Editar" 
                class="md-secondary md-hue-3" >
                delete
            </md-icon>
        </md-list-item>
    </md-list>
    <div layout="row" layout-align="end end">
        <md-button ng-click="ctrl.add()">Adicionar</md-button>
    </div>
</div>