<form>
    <div layout-gt-sm="row">
        <md-input-container flex>
            <label >Nome</label>
            <input name="parentName" ng-model="ctrl.parent.name">
        </md-input-container>
    </div>
    <div layout-gt-sm="row">
         <md-input-container flex>
            <label>Identidade</label>
            <input name="parentId" ng-model="ctrl.parent.id">
        </md-input-container>
         <md-input-container flex>
            <label>CPF</label>
            <input name="parentCpf" ng-model="ctrl.parent.cpf">
        </md-input-container>
    </div>
    <div layout-gt-sm="row">
        <md-input-container flex="30">
            <md-datepicker md-open-on-focus ng-model="ctrl.parent.birthDate" md-placeholder="Data de Nascimento"></md-datepicker>        
        </md-input-container>
        <md-input-container flex-gt-sm="20">
            <label>Raça</label>
            <md-select name="parentRace" ng-model="ctrl.parent.race">
                <md-option ng-disabled="true"><em>Selecione</em></md-option>
                <md-option ng-repeat="race in ctrl.races" ng-value="race.value">{{ race.label }}</md-option>
            </md-select>
        </md-input-container>
    </div>
    <div layout-gt-sm="row">
        <md-input-container class="md-block" layout-gt-sm="row">
            <md-radio-group name="parentReligion" ng-model="ctrl.parent.religion"
                            layout="row">
                <md-radio-button value="Católico">Católico</md-radio-button>
                <md-radio-button value="Não Católico">Não Católico</md-radio-button>
                <md-radio-button value="Outros">Outros</md-radio-button>
            </md-radio-group>
        </md-input-container>
        <md-input-container flex>
            <label>Especifique aqui</label>
            <input name="parentOtherReligion" ng-model="ctrl.parent.otherReligion">
        </md-input-container>
    </div>

    <h4>Origem</h4>
    <div layout-gt-sm="row">
         <md-input-container flex>
            <label>Estado</label>
            <input name="parentStateOfBirth" ng-model="ctrl.parent.stateOfBirth">
        </md-input-container>
        <md-input-container flex>
            <label>Cidade</label>
            <input name="parentCityOfBirth" ng-model="ctrl.parent.cityOfBirth">
        </md-input-container>
    </div>

    <h4>Residência</h4>
    <div layout-gt-sm="row">
        <md-input-container flex>
            <label>Estado</label>
            <input name="parentStateOfLiving" ng-model="ctrl.parent.stateOfLiving">
        </md-input-container>
        <md-input-container flex>
            <label>Cidade</label>
            <input name="parentCityOfLiving" ng-model="ctrl.parent.cityOfLiving">
        </md-input-container>
    </div>

    <div layout-gt-sm="row">
        <md-input-container flex-gt-sm="20">
            <label>Escolaridade</label>
            <md-select name="parentScholarity" ng-model="ctrl.parent.scholarity">
                <md-option ng-disabled="true"><em>Selecione</em></md-option>
                <md-option ng-value="analfabeto">Analfabeto</md-option>
                <md-option ng-value="primeirograuincompleto">1&#186; Grau Inconpleto</md-option>
                <md-option ng-value="primeirograucompleto">1&#186; Grau Completo</md-option>
                <md-option ng-value="segundograuincompleto">2&#186; Grau Inconpleto</md-option>
                <md-option ng-value="segundograucompleto">2&#186; Grau Completo</md-option>
                <md-option ng-value="SuperiorIncompleto">Superior Incompleto</md-option>
                <md-option ng-value="SuperiorCompleto">Superior Completo</md-option>
            </md-select>
        </md-input-container>
        <md-input-container flex>
            <label>Formação Profissional</label>
            <input name="parentProfessionalSkill" ng-model="ctrl.parent.professionalSkill">
        </md-input-container>
    </div>

    <div layout-gt-sm="row">
        <md-input-container flex>
            <label>Ocupação</label>
            <input name="parentOcupation" ng-model="ctrl.parent.ocupation">
        </md-input-container>
        <md-input-container  flex-gt-sm="30">
            <label>Situação de Emprego</label>
            <md-select name="parentJobSituation" ng-model="ctrl.parent.jobSituation">
                <md-option ng-disabled="true"><em>Selecione</em></md-option>
                <md-option ng-value="carteiraassinada">Carteira Assinada</md-option>
                <md-option ng-value="semcarteiraassinada">Sem Carteira Assinada</md-option>
                <md-option ng-value="desempregado">Desempregado</md-option>
                <md-option ng-value="aposentado">Aposentado</md-option>
                <md-option ng-value="outro">Outro</md-option>
            </md-select>
        </md-input-container>

        <md-input-container flex>
            <label>Especifique a Situação de Emprego</label>
            <input name="parentOtherJobSituation" ng-model="ctrl.parent.otherJobSituation">
        </md-input-container>
    </div>

    <div layout-gt-sm="row">
        <md-input-container flex>
            <label>Campo para Observações necessárias</label>
            <textarea name="notes" ng-model="ctrl.parent.notes">
        </md-input-container>
    </div>
</form>