<form>
    <div layout-gt-sm="row">
        <md-input-container flex>
            <label >Nome</label>
            <input >
        </md-input-container>
    </div>
    <div layout-gt-sm="row">
         <md-input-container flex>
            <label>Identidade</label>
            <input >
        </md-input-container>
         <md-input-container flex>
            <label>CPF</label>
            <input >
        </md-input-container>
    </div>
    <div layout-gt-sm="row">
        <md-input-container flex="30">
            <md-datepicker ng-model="myDate" md-placeholder="Data de Nascimento"></md-datepicker>        
        </md-input-container>
        <md-input-container flex-gt-sm="20">
            <label>Raça</label>
            <md-select ng-model="ctrl.asd">
                <md-option ng-disabled="true"><em>Selecione</em></md-option>
                <md-option ng-value="Branco">Branco</md-option>
                <md-option ng-value="Negro">Negro</md-option>
                <md-option ng-value="Pardo">Pardo</md-option>
                <md-option ng-value="Amarelo">Amarelo</md-option>
                <md-option ng-value="Indígena">Indígena</md-option>
            </md-select>
        </md-input-container>
    </div>
    <div layout-gt-sm="row">
        <md-input-container class="md-block" layout-gt-sm="row">
            <md-radio-group layout="row">
                <md-radio-button value="Católico">Católico</md-radio-button>
                <md-radio-button value="Não Católico">Não Católico</md-radio-button>
                <md-radio-button value="Outros">Outros</md-radio-button>
            </md-radio-group>
        </md-input-container>
        <md-input-container flex>
            <label>Especifique aqui</label>
            <input >
        </md-input-container>
    </div>

    <h4>Origem</h4>
    <div layout-gt-sm="row">
         <md-input-container flex>
            <label>Estado</label>
            <input >
        </md-input-container>
        <md-input-container flex>
            <label>Cidade</label>
            <input >
        </md-input-container>
    </div>

    <h4>Residência</h4>
    <div layout-gt-sm="row">
        <md-input-container flex>
            <label>Estado</label>
            <input >
        </md-input-container>
        <md-input-container flex>
            <label>Cidade</label>
            <input >
        </md-input-container>
    </div>

    <div layout-gt-sm="row">
        <md-input-container flex-gt-sm="20">
            <label>Escolaridade</label>
            <md-select ng-model="ctrl.asd">
                <md-option ng-disabled="true"><em>Selecione</em></md-option>
                <md-option ng-value="Branco">Analfabeto</md-option>
                <md-option ng-value="1grauincompleto">1º Grau Inconpleto</md-option>
                <md-option ng-value="1graucompleto">1º Grau Completo</md-option>
                <md-option ng-value="2grauincompleto">2º Grau Inconpleto</md-option>
                <md-option ng-value="2graucompleto">2º Grau Completo</md-option>
                <md-option ng-value="Superior Incompleto">Superior Incompleto</md-option>
                <md-option ng-value="Superior Completo">Superior Completo</md-option>
            </md-select>
        </md-input-container>
        <md-input-container flex>
            <label>Formação Profissional</label>
            <input >
        </md-input-container>
    </div>

    <div layout-gt-sm="row">
        <md-input-container flex>
            <label>Ocupação</label>
            <input >
        </md-input-container>
        <md-input-container  flex-gt-sm="30">
            <label>Situação de Emprego</label>
            <md-select ng-model="ctrl.asd">
                <md-option ng-disabled="true"><em>Selecione</em></md-option>
                <md-option ng-value="Carteira Assinada">Carteira Assinada</md-option>
                <md-option ng-value="Sem Carteira Assinada">Sem Carteira Assinada</md-option>
                <md-option ng-value="Desempregado">Desempregado</md-option>
                <md-option ng-value="Aposentado">Aposentado</md-option>
                <md-option ng-value="Outro">Outro</md-option>
            </md-select>
        </md-input-container>

        <md-input-container flex>
            <label>Especifique a Situação de Emprego</label>
            <input >
        </md-input-container>
    </div>

    <div layout-gt-sm="row">
        <md-input-container flex>
            <label>Campo para Observações necessárias</label>
            <textarea placeholder="title" ng-model="title">
        </md-input-container>
    </div>
</form>