<md-content layout="vertical" flex id="content">
    <div layout="row" layout-align="center center" layout-fill>
        <md-whiteframe class="md-whiteframe-z1" layout="column" flex="100" flex-gt-sm="30" layout-padding>
            <form novalidate name="loginForm" ng-submit="loginForm.$valid && ctrl.login()">
                <div layout="column">
                    <md-input-container>
                        <label>Email</label>
                        <input name="username" type="email" ng-model="ctrl.username" required>
                        <div ng-messages="loginForm.username.$error" ng-if="loginForm.$submitted || loginForm.username.$touched">
                            <div ng-message="required">O Email é obrigatório.</div>
                            <div ng-message="email">Informe um email válido.</div>
                        </div>
                    </md-input-container>
                    <md-input-container>
                        <label>Password</label>
                        <input name="password" type="password" ng-model="ctrl.password" required>
                        <div ng-messages="loginForm.password.$error" ng-if="loginForm.$submitted || loginForm.password.$touched">
                            <div ng-message="required">O senha é obrigatória.</div>
                        </div>
                    </md-input-container>

                    <div layout="row" layout-align="center center">
                        <md-button type="submit" class="md-raised" flex="30" ng-click="null">Login</md-button>
                    </div>
                </div>
            </form>
        </md-whiteframe>
    </div>
</md-content>