<md-button class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="null" ui-sref="newContact">
    <md-icon md-font-icon="Material Icons"
                ng-click="null" 
                aria-label="Cadastrar" 
                class="md-secondary md-hue-3" >
                add
    </md-icon>
</md-button>

<md-content layout="row" layout-align="center start" layout-fill layout-padding class="md-default-theme">
    <md-card flex="90" flex-gt-md="80" class="md-card-expand">
        <md-card-content>
            <h2>Contatos</h2>
            <md-list class="md-title inset">
                <md-list-item class="md-2-line" ng-repeat="class in ctrl.classes">
                    <div class="md-list-item-text" layout="column">
                        <h4>{{class.name}}</h4>
                        <p>{{class.shift}}</p>
                        <p>{{class.period}}</p>
                    </div>
                </md-list-item>
            </md-list>
        </md-card-content>
    </md-card>
</md-content>

