md-icon[md-font-icon="Material Icons"] {
  line-height: 1;
}

.md-card-expand {
  max-height: inherit !important;
}


/*alinha o radio button com o input ao lado, horizontalmente */
md-radio-group._md.layout-row {
  padding-top: 6px;
}