<md-content layout-fill layout-padding class="md-default-theme">
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Aluno">
            <form>
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm="30">
                        <md-radio-group layout="row">
                            <md-radio-button value="Creche">Creche</md-radio-button>
                            <md-radio-button value="Prosseguir">Prosseguir</md-radio-button>
                        </md-radio-group>
                    </md-input-container>

                    <md-input-container flex-gt-sm="30">
                        <label>Turma</label>
                        <input >
                    </md-input-container>

                    <md-input-container flex-gt-sm="20">
                        <label>Ano</label>
                        <input >
                    </md-input-container>

                    <md-input-container flex-gt-sm="20">
                        <label>Matrícula</label>
                        <input >
                    </md-input-container>
                </div>

                <div layout-gt-sm="row">
                    <md-input-container flex>
                        <label>Nome</label>
                        <input >
                    </md-input-container>
                    <md-input-container flex="40">
                        <label>Data de Nascimento</label>
                        <md-datepicker ng-model="myDate"></md-datepicker>        
                    </md-input-container>
                </div>

                <div layout-gt-sm="row">
                    <md-input-container flex>
                        <label>Nacionalidade</label>
                        <input >
                    </md-input-container>
                    <md-input-container>
                        <label>Naturalidade</label>
                        <input >
                    </md-input-container>
                    <md-input-container>
                        <label>Religião</label>
                        <input >
                    </md-input-container>
                </div>

                <div layout-gt-sm="row">
                        <md-input-container flex-gt-sm="30">
                        <label>Telefone</label>
                        <input >
                    </md-input-container>
                    <md-input-container flex-gt-sm="20">
                        <label>Raça</label>
                        <md-select ng-model="ctrl.asd">
                            <md-option ng-disabled="true"><em>Selecione</em></md-option>
                            <md-option ng-value="Branco">Branco</md-option>
                            <md-option ng-value="Negro">Negro</md-option>
                            <md-option ng-value="Pardo">Pardo</md-option>
                            <md-option ng-value="Amarelo">Amarelo</md-option>
                            <md-option ng-value="Indígena">Indígena</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex-offset-gt-sm="20" flex>
                        <md-radio-group layout="row">
                            <md-radio-button value="Masculino">Masculino</md-radio-button>
                            <md-radio-button value="Feminino">Feminino</md-radio-button>
                        </md-radio-group>
                    </md-input-container>
                </div>
            </form>
        </md-tab>
        <md-tab label="Endereço">
            <form>
                <div layout-gt-sm="row">
                    <md-input-container flex-gt-sm="60">
                        <label>Endereço</label>
                        <input >
                    </md-input-container>
                    <md-input-container flex-gt-sm="40">
                        <label>Nº</label>
                        <input >
                    </md-input-container>
                </div>
                <div layout-gt-sm="row">
                    <md-input-container flex>
                        <label>Complemento</label>
                        <input >
                    </md-input-container>
                    <md-input-container flex>
                        <label>Bairro</label>
                        <input >
                    </md-input-container>
                </div>
                <div layout-gt-sm="row">
                    <md-input-container flex>
                        <label>Cidade</label>
                        <input >
                    </md-input-container>
                    <md-input-container flex-gt-sm="10">
                        <label>UF</label>
                        <input >
                    </md-input-container>
                    <md-input-container flex-gt-sm="20">
                        <label>CEP</label>
                        <input >
                    </md-input-container>
                </div>
            </form>
        </md-tab>
        <md-tab label="Autorizados a retirnar">
            <student-responsible></student-responsible>
        </md-tab>
        <md-tab label="Escola">
            <form>
                <div layout-gt-sm="row">
                    <md-input-container flex-gt-sm="40">
                        <label>Nome da Escola</label>
                        <input >
                    </md-input-container>
                    <md-input-container flex-gt-sm="20">
                        <label>Telefone</label>
                        <input >
                    </md-input-container>
                    <md-input-container flex-gt-sm="20">
                        <label>Série / Ano</label>
                        <input >
                    </md-input-container>
                    <md-input-container flex-gt-sm="20">
                        <label>Turno</label>
                        <md-select ng-model="ctrl.teste">
                            <md-option ng-disabled="true"><em>Selecione</em></md-option>
                            <md-option ng-value="Manhã">Manhã</md-option>
                            <md-option ng-value="Tarde">Tarde</md-option>
                            <md-option ng-value="Noite">Noite</md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <div layout-gt-sm="row">
                    <md-input-container flex>
                        <label>Nome da Professora</label>
                        <input >
                    </md-input-container>
                    <md-input-container flex>
                        <label>Nome da Diretora</label>
                        <input >
                    </md-input-container>
                </div>
            </form>
        </md-tab>
        <md-tab label="Pai">
            <student-parent></student-parent>
        </md-tab>
        <md-tab label="Mãe">
            <student-parent></student-parent>
        </md-tab>
        <md-tab label="Irmãos">
            <student-brothers></student-brothers>
        </md-tab>
    </md-tabs>
</md-content>