<md-button class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="null" ui-sref="newStudent">
    <md-icon md-font-icon="Material Icons"
                ng-click="null" 
                aria-label="Cadastrar" 
                class="md-secondary md-hue-3" >
                add
    </md-icon>
</md-button>

<md-content layout="row" layout-align="center start" layout-fill layout-padding  class="md-default-theme">
    <md-card flex="90" flex-gt-md="80" class="md-card-expand">
        <md-card-content>
            <h2 class="md-title inset">Alunos</h2>
            <md-list>
                <md-list-item class="md-2-line" ng-repeat="student in ctrl.students" ng-click="null">
                    <img ng-src="{{student.photo}}" class="md-avatar" alt="{{student.name}}"/>
                    <div class="md-list-item-text" layout="column">
                        <h4>{{student.name}}</h4>
                        <p>{{student.name}}</p>
                    </div>
                    <md-icon md-font-icon="Material Icons"
                        ng-click="null" 
                        aria-label="Editar" 
                        class="md-secondary md-hue-3" >
                        mode_edit
                    </md-icon>
                </md-list-item>
            </md-list>
        </md-card-content>
    </md-card>
</md-content>

